<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body >
{% for book in books %}

    <table >
        <h1>Title: {{ book.title }}</h1>
        <h2>Author: {{ book.author }}</h2>
        <h3>ISBN: {{ book.isbn }}</h3>
    </table>

{% endfor %}
</body>
</html>